.logo {
  box-sizing: border-box;
  padding: 2.5% 0;
}

.logo img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
header{
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.setting-item {
  display: flex;
  column-gap: 2.5%;
  align-items: center;
  justify-content: flex-end;
  color: var(--dark-blue);
  z-index: 1;
}
.settings-item__icon{
  width: 7.5%;
  justify-self: end;
}
.setting-item--menu-opened{
  color: #fff;
}
.username-profile{
  position: relative;
  display: flex;
  align-items: center;
  border: .1rem solid var(--dark-blue);
  background-color: var(--light-blue);
  box-sizing: border-box;
  border-radius: 2rem;
  max-width: 300px;
  padding: 1%;
  box-sizing: border-box;
}
.username-profile__img{
  width: 15%;
  position: absolute;
  left: -5%;
}
.username-profile__name{
  box-sizing: border-box;
  text-indent: 2rem;
  color: var(--gray);
}
main{
  width: 80%;
  height: 80%;

  display: grid;
  grid-template-columns: auto 90%;
  grid-template-rows: repeat(3, 1fr);
  /* align-items: space-between; */
  justify-content: center;
  margin: 2.5% auto;
  box-sizing: border-box;
  gap: 2.5%;

  /* background-color: red; */
}
.option{
}
.option__btn{
  width: 7.5vw;
  height: 7.5vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2.5% auto; */

  background-color: var(--light-blue);
  border-radius: 1rem;
  box-shadow: 5px 10px 8px #888888;
  box-sizing: border-box;
}
.option__icon{
  width: 50%;
}
.option__text{
  margin-top: 5%;
  text-align: center;
  color: var(--gray);
  font-family: var(--title-font);
}
.option__list{
  margin-top: 15%;
}
.display {
  display: none;
}
.option__item{
  position: relative;

  width: 100%;
  text-align: center;
  background-color: var(--light-blue);
  border: .1rem solid var(--dark-blue);
  border-radius: 2rem;
  color: var(--gray);
  font-family: var(--title-font);

  margin-top: 5%;
}
.option__item--selected{
  background-color: var(--dark-blue);
  color: var(--white);
}
.option__pokebola {
  width: 15%;
  position: absolute;
  left: -2.5%;
  top: -15%;
}
.game {
  position: relative;
  display: block;
  /* margin: 2.5% auto; */
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  border-radius: 2.5rem;
  box-shadow: 5px 10px 8px #888888;
  box-sizing: border-box;
  padding: 2.5% 0;

  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
}
.game__header{
  width: 100%;
}
.game__clock{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  font-family: var(--title-font);
}
.game__clock img{
  width: 2.5%;
}
.game__board{
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 2.5% 5%;
  width: 100%;
  height: 100%;
}
.game__board--2{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.game__board--4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.game__board--6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.game__board--8 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.game__card{
  background-color: transparent;
  perspective: 1000px;
  width: 25%;
  height: 60%;
  box-sizing: border-box;
}
.game__card-inner{
  position: relative;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.game__card-front,
.game__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
.game__card-back {
  transform: rotateY(180deg);
}
.game__card-content{
  height: 100%;
}
.game__card--flipped{
  transform: rotateY(180deg);
}
.game__card--blocked {
  transform: rotateY(180deg)!important;
}
.menu{
  width: 30%;
  box-sizing: border-box;
  padding: 2.5%;
  background-color: var(--dark-blue);
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  transition: transform .3s;
  font-family: var(--title-font);
}
.menu--closed{
  right: -100%;
}
.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  border: .1rem solid var(--dark-blue);
  background-color: var(--light-blue);
  box-sizing: border-box;
  border-radius: 2rem;
  max-width: 100%;
  padding: 1%;
  box-sizing: border-box;
  margin-top: 7.5%;
}

.menu-item__img {
  width: 10%;
  position: absolute;
  left: -5%;
}
.menu-item__title {
  box-sizing: border-box;
  text-indent: 2rem;
  color: var(--gray);
}
