.logo {
  padding: 2.5% 0;
  width: 30%;
  display: block;
  margin: 0 auto;
}
main {
  display: block;
  margin: 2.5% auto;
  width: 80%;
  height: 80%;
  background-color: var(--light-blue);
  border-radius: 2.5rem;
  box-shadow: 5px 10px 8px #888888;
  box-sizing: border-box;
  padding: 2.5% 0;
}
.ranking{
  height: 100%;
  margin: 0 auto;
  width: 90%;
  overflow-y: scroll;
}
.ranking::-webkit-scrollbar {
  width: .75rem;
}
.ranking::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 1rem;
}
.ranking::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 1rem;
}
.ranking__title{
  text-align: center;
  color: var(--gray);
  font-size: 1.5rem;
  font-family: var(--title-font);
}
.ranking__item{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: .1rem solid var(--dark-blue);
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2rem;
  max-width: 97.5%;
  padding: 1% 2.5% 1% 1%;
  box-sizing: border-box;
  margin-top: 2.5%;
  font-family: var(--text-font);
}
.ranking__img {
  width: 5%;
  position: absolute;
  left: 0%;
}
.ranking__username {
  box-sizing: border-box;
  text-indent: 4rem;
  color: var(--dark-blue);
}
.ranking__score {
  color: var(--dark-blue);
}
